{% include "layout_header.html" %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
							  <h1>Collection of the programs<br />
							  </h1>
							  <p>Click the tile to see the detail of program!</p>
							</header>
							<section class="tiles">
							  <!-- 1번째 줄 1번째 타일 -->
							  <article class="style1">
							    <span class="image">
								  <img src="https://www.worldhistory.org/img/r/p/1500x1500/17222.png.webp?v=1679479979-1679480090" alt="" />
						  	    </span>
							    <a href="{{ url_for('morse_code_converter') }}">
								  <h2>Morse Code Converter</h2>
								  <div class="content">
							        <p>convert string to morse code</p>
								  </div>
							    </a>
							  </article>



							</section>
						</div>
					</div>

{% include "layout_footer.html" %}