{% extends 'base.html' %}

{% block content %}
<div id="main">
	<div class="inner">
		<header>
		  <h1>Collection of the programs<br></h1>
		  <p>Click each tile to see the detail of program!<br>To create a new account or log in, click the 𑁔 menu button at the top right.<br></p>
		</header>
		<section class="tiles">
		  <!-- 1번째 타일 (모스 코드 변환기) -->
		  <article class="style1">
			<span class="image">
			  <img src="https://www.worldhistory.org/img/r/p/1500x1500/17222.png.webp?v=1679479979-1679480090" alt="" />
			</span>
			<a href="{{ url_for('morse_code_converter') }}">
			  <h2>morse code<br>converter</h2>
			  <div class="content">
				<p>This converts alphabets or numbers<br>to the morse code.</p>
			  </div>
			</a>
		  </article>

		  <!-- 2번째 타일 (원격 근무 카페 정보) -->
		  <article class="style2">
			<span class="image">
			  <img src="https://images.unsplash.com/photo-1581387490232-2181c3736353?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
			</span>
			<a href="{{ url_for('laptop_friendly_cafes_home') }}">
			  <h2>laptop friendly<br>cafes</h2>
			  <div class="content">
				<p>Looking for a remote-work-friendly cafe?<br>Check the list in your city and share your recommendation!</p>
			  </div>
			</a>
		  </article>

		  <!-- 3번째 타일 (투두 리스트) -->
          <article class="style3">
			<span class="image">
			  <img src="https://cdn.pixabay.com/photo/2021/03/28/13/02/lists-6131220_1280.jpg" alt="" />
			</span>
			<a href="{{ url_for('todo_list_home') }}">
			  <h2>To-do List</h2>
			  <div class="content">
				<p>Make your own to-do list.<br>Add tasks, complete them, and check them off before they’re due.</p>
			  </div>
			</a>
		  </article>

		  <!-- 4번째 타일 (입력된 텍스트 자동 삭제) -->
		  <article class="style4">
			<span class="image">
			  <img src="https://images.unsplash.com/photo-1609967804992-c9ad515d6049?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
			</span>
			<a href="{{ url_for('write_or_vanish') }}">
			  <h2>Write or Vanish</h2>
			  <div class="content">
				<p>Don’t stop, just write.<br>Hesitation is deletion.</p>
			  </div>
			</a>
		  </article>

		  <!-- 5번째 타일 (사진에서 주료 사용된 색상 10개 추출) -->
		  <article class="style5">
			<span class="image">
			  <img src="https://images.unsplash.com/photo-1739145974146-c310088417ca?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
			</span>
			<a href="{{ url_for('color_picker') }}">
			  <h2>Color Picker</h2>
			  <div class="content">
				<p>Extract the 10 most noticeable colors in the image.</p>
			  </div>
			</a>
		  </article>

		  <!-- 6번째 타일 (과거 대비 환율 변화율 계산기) -->
		  <article class="style6">
			<span class="image">
			  <img src="https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1742" alt="" />
			</span>
			<a href="{{ url_for('forex_time_machine') }}">
			  <h2>Forex Time Machine</h2>
			  <div class="content">
				<p>Compare exchange rates between two dates using real time and historical data from an exchange-rate API</p>
			  </div>
			</a>
		  </article>

		  <!-- 7번째 타일  -->
          <!-- 8번째 타일  -->

		</section>
	</div>
</div>
{% endblock %}