{% extends 'base.html' %}

{% block content %}
<div id="main">
	<div class="inner">
		<header>
		  <h1>Collection of the programs<br></h1>
		  <p>Click each tile to see the detail of program!<br>To create a new account or log in, click the 𑁔 menu button at the top right.<br></p>
		</header>
		<section class="tiles">
		  <!-- 1번째 타일 -->
		  <article class="style2">
			<span class="image">
			  <img src="https://www.worldhistory.org/img/r/p/1500x1500/17222.png.webp?v=1679479979-1679480090" alt="" />
			</span>
			<a href="{{ url_for('morse_code_converter') }}">
			  <h2>morse code<br>converter</h2>
			  <div class="content">
				<p>This converts alphabets or numbers<br>to the morse code.</p>
			  </div>
			</a>
		  </article>
		  <!-- 2번째 타일 -->
		  <article class="style7">
			<span class="image">
			  <img src="https://images.unsplash.com/photo-1581387490232-2181c3736353?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
			</span>
			<a href="{{ url_for('laptop_friendly_cafes_home') }}">
			  <h2>laptop friendly<br>cafes<br>in your city</h2>
			  <div class="content">
				<p>Want to work remotely at a nice cafe?<br>Check the list in your city and share your own recommendations too!</p>
			  </div>
			</a>
		  </article>


		</section>
	</div>
</div>
{% endblock %}