{% extends 'base.html' %}
{% block title %}Register page{% endblock %}

{% block content %}
<div id="main">
  <div class="inner">
	<h1>Register page</h1>
    <p>If you’d like to try any of my projects that require login, please create an account here first.<br>
	   ⚠️ This is just for the test. I do not collect any personal information, so you don’t need to provide a real name or email."
	</p>

	  <form method="post" action="{{ url_for('register') }}" novalidate>
		  {{ form.hidden_tag() }}
		  <div class="fields">
			<!-- user name -->
			<div class="field half">
				{{ form.name.label }}
                {{ form.name(size=32) }}
				{% for error in form.name.errors %}<p style="color:red;">{{ error }}</p>{% endfor %}
			</div>
            <div class="field half"><br></div>
			<!-- user email -->
			<div class="field half">
				{{ form.email.label }}
                {{ form.email(size=32) }}
				{% for error in form.email.errors %}<p style="color:red;">{{ error }}</p>{% endfor %}
			</div>
            <div class="field half"><br></div>
			<!-- user password -->
			<div class="field half">
				{{ form.password.label }}
                {{ form.password(size=32) }}
				{% for error in form.password.errors %}<p style="color:red;">{{ error }}</p>{% endfor %}
			</div>
		  </div>
		  <ul class="actions">
			<li>{{ form.submit(class="primary") }}</li>
		  </ul>
	</form>
  </div>
</div>
{% endblock %}